body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fdfdfd;
}

:root {
    --dark-blue: #3d3dd3;
    --dark-green: #80dd89;
    --grey: ;
    --yellow: #ffd65c;
    --light-blue: #5b74f3;
    --dark-grey: #4a4848;
    --light-grey: #9e9e9e;
    --nice-blue: #274390;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;

}

h1,
h2,
h3,
h4 {
    color: var(--nice-blue);
}

img {
    width: 98%;
}

/* Navigation Bar */
.navbar {
    height: 45px;
    background-color: #fff;
    display: flex;
    top: 0;
    position: sticky;
}

.logo-1 {

    width: 57%;
    height: 95%;
    margin-left: 27px;
    margin-top: 3px;
}

.logo-1 img {
    width: 157%;
}


.section {
    width: 75%;
    height: 50vh;
    /* margin-bottom: 63px; */
    cursor: pointer;
    margin-bottom: 50px;
    width: 97%;


}

.rating {
    font-size: 1.4rem;
    font-weight: 600;
    font-family: sans-serif;
    line-height: 0.9rem;
}

.sec:hover {
    box-shadow: 0 0 10px #a79f9f;
    border: hidden;
}


.page {
    display: flex;
}

.sec {

    margin: 11px;
    display: flex;
    height: 48vh;
    /* flex-direction: row; */
    padding: 25px;
    border: 1px solid var(--light-grey);
    background-color: #fff;
    border-radius: 31px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
}

.logo-1 {
    width: 30%;
}

.logo img {
    border-radius: 20px;

}

.sec-2 {
    margin-left: 25px;
    width: 59%;
    background: aliceblue;
}

.bt-1 {
    margin-bottom: 20px;
}

p {
    color: var(--dark-grey);
    font-weight: 600;
}

/* Class Cuisine */
.cuisine {
    margin-left: 24%;
}

/* Filter Section */
.radio-button {
    /* display: flex;
    flex-direction: column; */
    margin-left: 30px;
    margin-bottom: 50px;

}

.filter {
    width: 19%;
    border: 5px solid var(--light-grey);
    border-radius: 5px;
    margin: 50px 38px;
    height: 64vh;
    top: 0;
    position: fixed;
}


.part-2 input {
    margin: 7px;
}

.filter h2,
h3 {
    color: var(--dark-grey);
}

/* Button Classes */
.btn {
    font-size: 14px;
    padding: 8px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.btn-1 {
    background-color: #1818a2;
}

.btn-2 {
    background-color: #21982d;
}

.btn-3 {
    background-color: var(--light-blue);
}

.btn-4 {
    background-color: var(--yellow);
}

.center {
    text-align: center;
}